<?php $this->layout('page'); ?>

<!-- 搜索 -->
<div class="search-panel" id="search-form">
    <form class="layui-form" lay-filter="search">
        <div class="layui-form-item">
            <label class="layui-form-label">用户</label>
            <div class="layui-input-block">
                <div id="user-select"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">资产类型：</label>
            <div class="layui-input-block">
                <?php echo $this->build_select('cate', $cate, [], [], true, true);?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作类型：</label>
            <div class="layui-input-block">
                <?php echo $this->build_select('type', $type, [], [], true, true);?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作时间：</label>
            <div class="layui-input-block">
                <input type="text" name="create_time" placeholder="搜索操作时间" class="layui-input date-range"
                    autocomplete="off">
            </div>
        </div>
    </form>
</div>

<div class="layui-card">
    <div class="layui-card-body m-card-body">
        <!-- 表格 -->
        <table id="table" lay-filter="table"></table>
    </div>
</div>


<script type="text/html" id="toolbar">
    <?= $this->build_toolbar('/ucenter/log/assets', $uid, ['search', 'reset']); ?>
</script>

<script type="text/html" id="from-cell">
<!-- {{# if(d.from == 0 || d.from == '0'){ }} -->
<div>系统</div>
<!-- {{# }else{ }} -->
<a lay-on="user-tips" class="mon-link" data-mobile="${d.from_mobile}" data-email="${d.from_email}"
    data-uid="${d.from}">${d.from_nickname}</a>
<!-- {{# } }} -->
</script>

<script type="text/html" id="available-cell">
    <ul class="user-ul">
        <li><strong>操作前:</strong> {{= d.available_before }} </li>
        <li><strong>操作数:</strong> {{= d.available_num }} </li>
        <li><strong>操作后:</strong> {{= d.available_after }} </li>
    </ul>
</script>

<script type="text/html" id="freeze-cell">
    <ul class="user-ul">
        <li><strong>操作前:</strong> {{= d.freeze_before }} </li>
        <li><strong>操作数:</strong> {{= d.freeze_num }} </li>
        <li><strong>操作后:</strong> {{= d.freeze_after }} </li>
    </ul>
</script>

<?php $this->block('css'); ?>
<style>
    .user-ul li {
        height: 30px;
        line-height: 30px;
    }
</style>
<?php $this->blockEnd(); ?>


<?php $this->block('js'); ?>
<script>
    layui.use(['util', 'mTable', 'mForm', 'common', 'userSelect'], function () {
        const util = layui.util
        const mTable = layui.mTable
        const mForm = layui.mForm
        const common = layui.common
        const userSelect = layui.userSelect
        const cate = JSON.parse('<?=$cateJson?>')
        const type = JSON.parse('<?=$typeJson?>')

        // 搜索用户
        const searchUser = userSelect.render('#user-select', "<?=$this->url('/ucenter/getUser')?>")
        // 渲染搜索表单
        mForm.render()
        // 渲染表格
        mTable.render({
            elem: '#table',
            url: "<?=$this->url('/ucenter/log/assets')?>" + '?isApi=1',
            // 定义表格的多行样式
            lineStyle: 'height: 100px;',
            cols: [[
                { field: 'create_time', title: '操作时间', width: 168, align: 'center', templet: (d) => mTable.format.dateTime(d.create_time) },
                { field: 'cate', title: '资产类型', width: 90, align: 'center', templet: d => cate[d.cate] },
                { field: 'type', title: '操作类型', width: 140, align: 'center', templet: d => type[d.type] },
                { field: 'uid', title: '操作用户', width: 160, align: 'center', templet: d => `<a lay-on="user-tips" class="mon-link" data-mobile="${d.mobile}" data-email="${d.email}" data-uid="${d.uid}">${d.nickname}</a>` },
                { field: 'from', title: '来源用户', width: 160, align: 'center', templet: '#from-cell' },
                { field: 'available', title: '可用', minWidth: 200, templet: '#available-cell', align: 'center' },
                { field: 'freeze', title: '冻结', minWidth: 200, templet: '#freeze-cell', align: 'center' },
                { field: 'remark', title: '备注', minWidth: 200 }
            ]]
        })
        // 绑定表格事件
        mTable.bindEvent('table', {
            toolbar: {
                // 搜索
                search: function (data, reset) {
                    // 重置
                    if (reset) {
                        searchUser.setValue([])
                        return data
                    }
                    if (data.create_time) {
                        let iCreate = data.create_time.split(' - ')
                        data.start_time = common.strtotime(iCreate[0] + ' 00:00:00')
                        data.end_time = common.strtotime(iCreate[1] + ' 23:59:59')
                    }

                    return data
                },
            }
        })
        // 详情查看
        util.on('lay-on', {
            'user-tips': function () {
                let data = this.dataset
                let tips = `用户ID：${data.uid} <br/> 手机号：${data.mobile} <br/> 邮 箱：${data.email}`
                layer.tips(tips, this, { tips: 1, time: 2000 })
            },
        })
    })
</script>
<?php $this->blockEnd(); ?>