<?php $this->layout('page'); ?>

<div class="layui-card mon-action-container">
    <div class="layui-card-body">
        <form class="layui-form" action="" method="post">
            <input type="hidden" name="idx" value="<?=$data['id']?>">

            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" name="mobile" lay-verify="phone" lay-verType="tips" class="layui-input"
                        value="<?=$data['mobile']?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" lay-verify="email" lay-verType="tips" class="layui-input"
                        value="<?=$data['email']?>">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">会员等级</label>
                <div class="layui-input-inline">
                    <?=$this->build_select('level', $level, [$data['level']], [], true)?>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="nickname" lay-verify="required" lay-reqText="请输入昵称" class="layui-input"
                        value="<?=$data['nickname']?>">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <?= $this->build_radios('sex', $sex, $data['sex'], [], true); ?>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-group">
                    <input type="text" name="avatar" placeholder="用户头像" id="avatar-img" class="layui-input"
                        value="<?=$data['avatar']?>">
                    <div class="layui-input-suffix">
                        <button type="button" class="layui-btn layui-btn-primary" id="upload">选择图片</button>
                        <button type="button" class="layui-btn layui-btn-primary" id="preview">预览</button>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <?= $this->build_radios('status', $status, $data['status'], [], true); ?>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">简介</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="comment" maxlength="250"><?=$data['comment']?></textarea>
                </div>
            </div>

            <div class="layui-form-item layer-footer hidden">
                <div class="layui-input-block text-left">
                    <button class="layui-btn layui-btn-sm layui-btn-success" lay-submit
                        lay-filter="submit">确认提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>


<?php $this->block('js'); ?>
<script>
    layui.use(['mForm', 'imgSelect'], function () {
        const mForm = layui.mForm
        const imgSelect = layui.imgSelect
        // 渲染表单
        mForm.render()
        mForm.submit('submit')

        // 图片选择
        document.querySelector('#upload').addEventListener('click', () => {
            imgSelect.show({
                api: "<?=$this->url('/files')?>",
                uploadURL: "<?=$this->url('/upload')?>",
                callback: (data, index) => {
                    document.querySelector('#avatar-img').value = data[0].url
                }
            })
        })
        // 预览
        document.querySelector('#preview').addEventListener('click', () => {
            let url = document.querySelector('#avatar-img').value
            if (url) {
                top.layer.photos({
                    photos: {
                        title: "图片预览",
                        data: [{ alt: '', src: url }]
                    },
                    // 是否显示底部栏
                    footer: true,
                    shade: 0.75
                });
            }
        })
    })
</script>
<?php $this->blockEnd(); ?>